html {
	background-image:url(../images/background2.jpg);
}

body {
	font-family: Helvetica, sans-serif;
	margin: 30px 10px 10px 10px;
	padding: 12px;
	background-color: rgba(255, 255, 255, 0.50);
	position: absolute;
}

@media only screen and (min-width: 20em) {

	body {
		margin: 0px 10px 10px 17px;
	}
}

@media only screen and (min-width: 25em) {

	body {
		margin: 0px 10px 10px 17px;
	}
}

@media only screen and (min-width: 31.25em) {

	body {
		margin: 0px 10px 10px 60px;
	}
}

@media only screen and (min-width: 37.5em) {

	body {
		margin: 0px 10px 10px 110px;
	}
}

@media only screen and (min-width: 43.75em) {

	body {
		margin: 0px 10px 10px 165px;
	}
}

@media only screen and (min-width: 50em) {

	body {
		margin: 0px 10px 10px 215px;
	}
	
}


#logo {
	padding-bottom: 5px;
}

@media only screen and (min-width: 20em) {

	#logo {
		padding-top: 50px;
	}
}


#logo img{
	width: 200px;
	height: auto;
}

@media only screen and (min-width: 20em) {

	#logo img{
		width: 250px;
		height: auto;
	}
}

@media only screen and (min-width: 25em) {

	#logo img{
		width: 300px;
		height: auto;
	}
}


#nav {
	float: left;
	padding-right: 15px;
	padding-bottom: 40px;
	list-style-type: none;
}

@media only screen and (min-width: 20em) {

	#nav{
		padding-right: 50px;
	}
}

@media only screen and (min-width: 25em) {

	#nav{
		padding-right: 115px;
	}
}

@media only screen and (min-width: 50em) {

	#nav{
		padding-right: 145px;
	}
}


h2 {
	background-color: rgba(255, 255, 255, 0.20);
	font-size: 12px;
	font-weight: 400;
	color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
}

@media only screen and (min-width: 20em) {

	h2 {
		font-size: 16px;
	}
}


#nav li {
	float: left;
	padding: 0px;
}



#about {
	width: 200px;
}

@media only screen and (min-width: 20em) {

	#about {
		width: 260px;
	}
}

@media only screen and (min-width: 25em) {

	#about {
		width: 340px;
	}
}

@media only screen and (min-width: 50em) {

	#about {
		padding-left: 22px;
		padding-right: 22px;
	}
}


p {
	color: #FFF;
	font-size: 12px;
	font-weight: 100;
	line-height: 18px;
	padding-top: 10px;
}

@media only screen and (min-width: 50em) {

	p {
		font-size: 15px;
	}
}

#portfolio {
	width: 200px;
}
	
@media only screen and (min-width: 20em) {

	#portfolio {
		width: 260px;
	}
}

@media only screen and (min-width: 25em) {

	#portfolio {
		width: 340px;
	}
}

@media only screen and (min-width: 50em) {

	#portfolio {
		padding-left: 22px;
		padding-right: 22px;
	}
}

#portfolio ul {
	padding-bottom: 15px;
	padding-left: 0px;
}

#portfolio ul img {
	border: medium solid #FFF;
}

li {
	float: left;
	padding: 40px 20px 40px 0;
	list-style:none;
}

@media only screen and (min-width: 20em) {

	li {
		padding-top: 40px;
	}
}

#social media {
	list-style-type: none;
}

#social media img {
	border: none;
}

footer {
	float: left;
	font-size: 12px;
	color: #CCC;
	padding-right: 20px;
}

@media only screen and (min-width: 20em) {

	footer {
		padding-top: 100px;
	}
}

a:link { color: #FFF; text-decoration: none}
a:visited { color: #FFF; text-decoration: none}
a:hover { color: #82C6D5; text-decoration: underline}
a:active { color: #C6F6E2; text-decoration: none}
